<form class = 'quirks' name="new_event" action= "/events/create" method="POST">
  
  <div class='event_info' align='center' >
    <h3 align='center'>Create a New Event</h3>
    Title: <input type='text' name='title'><br>
    Organizer Name: <input type='text' name='organizer_name'><br>
    Organzier Email: <input type='email' name='organizer_email'><br>
    Event Date: <input type='date' name='date'><br>
    <input type="submit" value="Create New Event"><br>
  </div>
</form>